<header class="bar">
  <nav>
    <ul>
      <li class="home-page">
        <%= link_to "Home", root_path %>
      </li>
      <li class="logout-page">
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</header>
